In [1]:
# import os
# os.system("pip install --upgrade pip")
# os.system("python3.8 -m pip install --upgrade pip")
# os.system("pip install --extra-index-url=https://pypi.celonis.cloud/ pycelonis --upgrade")
# os.system("pip install pycelonis")

In [2]:
from pycelonis import *
from pycelonis.pql import *

In [3]:
url = "https://academic-if21b054-technikum-wien-at.eu-2.celonis.cloud/"

file = open('INNO_ProcessMining/Machine_Learning/APP_KEY.txt')
api_token = file.read()
file.close()

key_type = "APP_KEY"
celonis = get_celonis(base_url=url, api_token=api_token, key_type=key_type, permissions=False)

[2023-04-23 10:26:37,185] INFO: Initial connect successful! PyCelonis Version: 2.0.3

In [4]:
celonis.data_integration.get_data_pools()

[
	DataPool(id='5656d8b6-63fd-41f0-9e10-6183b71028c9', name='datapool-filtered-final-version'),
	DataPool(id='791de0ea-2d8b-43d2-946b-1bc034123683', name='datapool-final-version ')
]

In [5]:
data_pool_id = "5656d8b6-63fd-41f0-9e10-6183b71028c9"
data_pool = celonis.data_integration.get_data_pool(data_pool_id)

In [6]:
data_pool.get_data_models()

[
	DataModel(id='b405947f-41e9-4abd-a09e-beb990aef1df', name='datamodel-filtered-final-version ', pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9')
]

In [7]:
data_model_id = "b405947f-41e9-4abd-a09e-beb990aef1df"
data_model = data_pool.get_data_model(data_model_id)

In [8]:
data_model.get_tables()

[
	DataModelTable(id='043caccb-8ced-4c69-8444-cb0146d3bd2b', data_model_id='b405947f-41e9-4abd-a09e-beb990aef1df', name='rating', alias=None, data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataModelTable(id='159849ab-3520-4fca-97a9-d26b0889e73b', data_model_id='b405947f-41e9-4abd-a09e-beb990aef1df', name='activities', alias=None, data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9')
]

In [9]:
activity_table_id = "043caccb-8ced-4c69-8444-cb0146d3bd2b"
activity_table = data_model.get_table(activity_table_id)
activity_table
# activity_table.get_columns()
# dir(activity_table)

DataModelTable(id='043caccb-8ced-4c69-8444-cb0146d3bd2b', data_model_id='b405947f-41e9-4abd-a09e-beb990aef1df', name='rating', alias=None, data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9')

In [10]:
ratings_table_id = "043caccb-8ced-4c69-8444-cb0146d3bd2b"
ratings_table = data_model.get_table(activity_table_id)
ratings_table

DataModelTable(id='043caccb-8ced-4c69-8444-cb0146d3bd2b', data_model_id='b405947f-41e9-4abd-a09e-beb990aef1df', name='rating', alias=None, data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9')

In [11]:
query = PQL(distinct=False, limit=None, offset=None)
query += PQLColumn(name="Zeit", query=""" "ACTIVITIES"."zeit" """)
query += PQLColumn(name="Vollständiger Name", query=""" "ACTIVITIES"."Vollständiger Name" """)
query += PQLColumn(name="Ereigniskontext - Ereignisname", query=""" "ACTIVITIES"."Ereigniskontext - Ereignisname" """)

result_df = data_model.export_data_frame(query)
print(result_df.shape)
result_df

[2023-04-23 10:26:38,245] INFO: Successfully created data export with id 'a81085ad-b315-4387-9b55-b411aef6a6cd'
[2023-04-23 10:26:38,247] INFO: Wait for execution of data export with id 'a81085ad-b315-4387-9b55-b411aef6a6cd'

0it [00:00, ?it/s]

[2023-04-23 10:26:38,385] INFO: Export result chunks for data export with id 'a81085ad-b315-4387-9b55-b411aef6a6cd'
(1102, 3)

,Zeit,Vollständiger Name,Ereigniskontext - Ereignisname
0,2022-09-13 18:48:00,Student1,Test: Quiz 1 - Testversuch gestartet
1,2022-09-13 19:05:00,Student1,Test: Quiz 1 - Testversuch eingereicht
2,2022-09-16 11:47:00,Student1,Test: Quiz 1 - Testversuch gestartet
3,2022-09-16 11:57:00,Student1,Test: Quiz 1 - Testversuch eingereicht
4,2022-09-16 11:57:00,Student1,Test: Quiz 1 - Testversuch gestartet
...,...,...,...
1097,2022-10-19 10:27:00,Student9,Test: Quiz 6 - Testversuch eingereicht
1098,2022-11-07 15:10:00,Student9,Test: Quiz 7 - Testversuch gestartet
1099,2022-11-07 15:31:00,Student9,Test: Quiz 7 - Testversuch eingereicht
1100,2022-11-08 17:51:00,Student9,Test: Exam Attempt 1 - Testversuch gestartet
1101,2022-11-08 18:32:00,Student9,Test: Exam Attempt 1 - Testversuch eingereicht

In [12]:
query = PQL(distinct=False, limit=None, offset=None)
query += PQLColumn(name="Nr", query=""" "RATING"."Nr" """)
query += PQLColumn(name="Test: Quiz 1 (Punkte)", query=""" "RATING"."Test: Quiz 1 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 2 (Punkte)", query=""" "RATING"."Test: Quiz 2 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 3 (Punkte)", query=""" "RATING"."Test: Quiz 3 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 4 (Punkte)", query=""" "RATING"."Test: Quiz 4 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 5 (Punkte)", query=""" "RATING"."Test: Quiz 5 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 6 (Punkte)", query=""" "RATING"."Test: Quiz 6 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 7 (Punkte)", query=""" "RATING"."Test: Quiz 7 (Punkte)" """)
query += PQLColumn(name="Quiz gesamt (Punkte)", query=""" "RATING"."Quiz gesamt (Punkte)" """)
query += PQLColumn(name="Test: Exam Attempt 1 (Punkte)", query=""" "RATING"."Test: Exam Attempt 1 (Punkte)" """)
query += PQLColumn(name="Kurs gesamt (Punkte)", query=""" "RATING"."Kurs gesamt (Punkte)" """)
query += PQLColumn(name="Name", query=""" "RATING"."Name" """)

result_df = data_model.export_data_frame(query)
print(result_df.shape)
result_df

[2023-04-23 10:26:38,773] INFO: Successfully created data export with id '0c826723-34af-4f46-b843-42510ce7ad26'
[2023-04-23 10:26:38,775] INFO: Wait for execution of data export with id '0c826723-34af-4f46-b843-42510ce7ad26'

0it [00:00, ?it/s]

[2023-04-23 10:26:38,861] INFO: Export result chunks for data export with id '0c826723-34af-4f46-b843-42510ce7ad26'
(30, 12)

,Nr,Test: Quiz 1 (Punkte),Test: Quiz 2 (Punkte),Test: Quiz 3 (Punkte),Test: Quiz 4 (Punkte),Test: Quiz 5 (Punkte),Test: Quiz 6 (Punkte),Test: Quiz 7 (Punkte),Quiz gesamt (Punkte),Test: Exam Attempt 1 (Punkte),Kurs gesamt (Punkte),Name
0,0,10.0,11.0,10.0,12.0,8.6,11.0,7.0,46.65,50.0,97.32,Student27
1,1,9.1,10.8,7.7,7.7,0.0,6.1,4.0,30.37,47.5,81.30,Student18
2,3,10.0,11.0,10.0,12.0,13.4,10.5,4.0,46.78,35.0,79.42,Student33
3,4,10.0,11.0,10.0,10.9,13.8,11.0,7.0,49.08,28.0,72.86,Student34
4,5,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,47.5,97.00,Student1
5,6,9.7,11.0,10.0,12.0,14.0,11.0,7.0,49.78,32.0,78.23,Student11
6,7,10.0,11.0,10.0,8.8,0.0,0.0,0.0,25.22,0.0,20.17,Student15
7,8,9.5,11.0,10.0,11.0,13.1,10.7,1.0,43.17,48.0,92.13,Student37
8,9,7.8,9.4,9.1,11.7,10.3,9.0,3.9,40.43,46.7,88.38,Student25
9,10,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,50.0,100.00,Student29
10,11,10.0,11.0,9.2,10.7,11.7,10.0,3.0,43.24,43.0,86.20,Student9
11,12,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,48.0,97.60,Student24
12,13,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,46.0,95.20,Student14
13,14,10.0,11.0,10.0,9.0,12.0,9.0,7.0,45.13,36.0,79.31,Student30
14,15,10.0,11.0,10.0,12.0,13.7,11.0,6.7,49.57,48.0,97.25,Student36
15,16,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,50.0,100.00,Student19
16,17,10.0,11.0,10.0,11.0,13.8,10.8,4.0,46.52,48.0,94.82,Student35
17,18,10.0,11.0,10.0,12.0,12.0,11.0,7.0,48.76,17.0,59.41,Student22
18,19,10.0,11.0,10.0,11.0,14.0,10.2,6.2,48.03,45.0,92.43,Student5
19,20,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,33.0,79.60,Student21
20,21,10.0,10.8,10.0,12.0,13.8,9.8,6.7,48.63,50.0,98.90,Student23
21,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,Student7
22,23,10.0,11.0,10.0,11.6,13.8,11.0,7.0,49.59,44.0,92.47,Student26
23,24,10.0,11.0,10.0,12.0,14.0,1.0,7.0,42.75,50.0,94.20,Student6
24,25,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,50.0,100.00,Student32
25,26,10.0,10.0,10.0,12.0,14.0,11.0,7.0,49.34,32.5,78.47,Student13
26,27,10.0,11.0,10.0,12.0,0.0,0.0,0.0,27.54,0.0,22.03,Student28
27,28,10.0,11.0,10.0,12.0,13.7,11.0,7.0,49.81,40.0,87.85,Student8
28,29,10.0,11.0,10.0,11.6,14.0,10.8,7.0,49.57,27.0,72.05,Student16
29,30,10.0,11.0,10.0,12.0,14.0,11.0,7.0,50.00,31.0,77.20,Student31